{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@packages": "./src/packages/src",
        "@app": "./src"
      }
    }]
  ],
  "ignore": [
    "__tests__/*"
  ]
}
